<div>
  <h1>About us</h1>
  <p>
  Project Description
  There are multiple high-level goals to this project:

  Become familiar with Ruby and the Rails framework
  Learn how to navigate an existing code-base
  Use existing code style and approach to implement new features in unfamiliar territory
  Apply previous learning tactics to research and become familiar with a new paradigm, language and framework
  A simulation of the real world where feature and bug-fix requests are listed instead of step-by-step instructions on how to implement a solution
  </p>
</div>